<ion-header no-border>
  <ion-toolbar color="blue-light">
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/menu/facturas-aprobadas"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="text-capitalize ion-no-padding-left ion-text-center">
      {{ 'EDIT.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="enviarData(f); f.resetForm()">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'EDIT.date' | translate }}</ion-label>
        <ion-input
          readonly
          [(ngModel)]="mydate"
          name="date"
          (ionChange)="onChangeDate()"
          [liIonic4Datepicker]="dataPickerObjEsMx"
        ></ion-input>
        <ion-icon slot="start" name="calendar"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'EDIT.reference' | translate }}</ion-label>
        <ion-input ngModel name="Referencia" required></ion-input>
        <ion-icon slot="start" name="document"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'EDIT.memo' | translate }}:</ion-label>
        <ion-input ngModel name="Memo" required></ion-input>
        <ion-icon slot="start" name="alert"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h4>{{ 'EDIT.items' | translate }}</h4>

          <table class="table table-striped">
            <thead>
              <tr>
                <th class="ion-text-center">{{ 'CONCEPTOS.description' | translate }}</th>
                <th class="ion-text-center">{{ 'EDIT.quantity' | translate }}</th>
                <th class="ion-text-center">{{ 'EDIT.amount' | translate }}</th>
                <th class="ion-text-center">{{ 'EDIT.add' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let factura of conceptos; let i = index">
                <th class="ion-text-center">
                  <ion-label>{{ factura.Descripcion | slice:0:20}} </ion-label>
                </th>
                <th class="ion-text-center padding-top">
                  <ion-label class="cantidad">
                    {{ factura.Cantidad | slice:0:10 }}
                  </ion-label>
                  <ion-icon color="progress" slot="start" name="cash"></ion-icon>
                </th>
                <th class="ion-text-center padding-top">
                  <ion-label class="cantidad">
                    {{ factura.Importe | slice:0:10 }}
                  </ion-label>
                  <ion-icon color="progress" slot="start" name="cash"></ion-icon>
                </th>
                <th class="ion-text-center">
                  <ion-button
                    (click)="validarFactura(i)"
                    color="success"
                    class="ion-no-margin"
                  >
                    <ion-icon slot="icon-only" name="checkmark"></ion-icon>
                  </ion-button>
                </th>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-button expand="block" color="success" type="submit">
          {{ 'EDIT.approve' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
