<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'CONFI.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="text"></ion-icon>
      <ion-label>{{ 'CONFI.change' | translate }}</ion-label>
      <ion-button expand="full" (click)="openLanguagePopover($event)">
        <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>{{ 'CONFI.dark' | translate }}</ion-label>
      <ion-toggle
        slot="end"
        [ngModel]="darkMode"
        [checked]="darkMode"
        (ionChange)="cambio()"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
