<hidenav-stretchheader header-height="50">
  <ion-toolbar color="none" #static>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" (click)="expand()" class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>

  <div #shrinkexpand (click)="expand()">
    <img src="assets/expo-min.jpg" width="100%" />
  </div>
</hidenav-stretchheader>

<ion-content class="ion-padding" hidenav-sh-content>
  <ion-button expand="full" (click)="menu()">
    Abrir Menu
  </ion-button>

  <ion-button expand="full" routerLink="/menu/facturas-pendientes">
    Abrir Facturas Pendientes
  </ion-button>
</ion-content>
