<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/menu/facturas-pendientes"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Verificacion de facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="ion-text-center">Descripcion</th>
        <th class="ion-text-center">Monto</th>
        <th class="ion-text-center">Cantidad Recibida</th>
        <th class="ion-text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of conceptos; let i = index">
        <th class="ion-text-center">
          <ion-label>{{ factura.Descripcion | slice:0:20}} </ion-label>
        </th>
        <th class="ion-text-center">
          {{ factura.Cantidad | slice:0:10 }}
        </th>
        <th class="ion-text-center">
          <ion-input
            name="cantidad"
            type="number"
            ngModel
            class="no-padding"
            step="0.00"
            placeholder="0.00"
            (ngModelChange)="modelChanged($event)"
          ></ion-input>
        </th>
        <th class="ion-text-center">
          <ion-button (click)="validarFactura(i)" color="success" class="ion-no-margin">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </th>
      </tr>
    </tbody>
  </table>


  <ion-row *ngIf="facturaRechazada">
    <!-- <ion-col size="12">
      <ion-list>
        <ion-radio-group
          (ionSelect)="changeRadio($event)"
        >
          <ion-label class="ion-text-center">
            Seleccione una de las siguientes opciones para notificar al
            proveedor:
          </ion-label>

          <ion-item>
            <ion-label>Refacturación</ion-label>
            <ion-radio value="factura"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Nota de crédito</ion-label>
            <ion-radio value="nota"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col> -->

    <ion-col size="12">
      <h2 class="ion-text-center">Articulos con diferencia</h2>

      <div class="concept-dif">
        <h3 class="ion-text-start">Nombre</h3>
        <h3 class="ion-text-center">Diferencia</h3>
        <h3 class="concept-monto">Monto</h3>
      </div>

      <ion-list>
        <ion-item *ngFor="let factura of facturasDiferencias">
          <ion-label class="ion-text-wrap ion-text-start"
            >{{ factura.nombre | slice:0:5 }}</ion-label
          >
          <ion-label class="ion-text-center">
            <ion-badge color="danger">
              {{ factura.diferencias | currency }}
            </ion-badge>
          </ion-label>
          <ion-label class="ion-text-center">
            <ion-badge color="danger">
              {{ factura.montoTotal | currency }}
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="6">
      <ion-button expand="block" fill="outline" (click)="aceptarFactura()"
        >Aceptar</ion-button
      >
    </ion-col>

    <ion-col size="6">
      <ion-button
        expand="block"
        fill="outline"
        routerLink="/menu/facturas-pendientes"
        >Cancelar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
