<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/menu/facturas-pendientes"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="text-capitalize ion-no-padding-left ion-text-center">
      <strong>V</strong>erificacion de <strong>F</strong>acturas</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="ion-text-center">Descripción</th>
        <th class="ion-text-center">Monto</th>
        <th class="ion-text-center">Cantidad Recibida</th>
        <th class="ion-text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of conceptos; let i = index">
        <th class="ion-text-center">
          <ion-label>{{ factura.Descripcion | slice:0:20}} </ion-label>
        </th>
        <th class="ion-text-center padding-top">
          <ion-label class="cantidad">
            {{ factura.Cantidad | slice:0:10 }}
          </ion-label>
          <ion-icon color="progress" slot="start" name="cash"></ion-icon>
        </th>
        <th class="ion-text-center padding-th">
          <ion-input
            name="cantidad"
            type="number"
            ngModel
            class="no-padding"
            min="1"
            pattern="^[0-9]+"
            placeholder="1..."
            (ngModelChange)="modelChanged($event)"
            required
          ></ion-input>
          <ion-icon color="gold" class="icon-belinda" name="swap"></ion-icon>
        </th>
        <th class="ion-text-center">
          <ion-button
            type="submit"
            (click)="validarFactura(i)"
            color="success"
            class="ion-no-margin"
          >
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </th>
      </tr>
    </tbody>
  </table>
</form>

  <div class="divisor ion-no-margin ion-no-padding"></div>

  <div *ngIf="facturaRechazada">

  <ion-row class="ion-padding ion-no-padding-top">
    <ion-list lines="none" class="ion-no-padding">
      <ion-radio-group (ionSelect)="changeRadio($event)">
        <div class="col-12" style="margin: 15px 0px;">
          <ion-label class="ion-text-center notificaciones">
            Seleccione una de las siguientes opciones para notificar al
            proveedor:
          </ion-label>
        </div>

        <div class="col">
          <ion-item class="ion-no-margin ion-text-center">
            <ion-label>Refacturación</ion-label>
            <ion-radio color="primary" value="factura"></ion-radio>
            <ion-icon color="primary" slot="start" name="calendar"></ion-icon>
          </ion-item>
        </div>
        <div class="col">
          <ion-item class="ion-no-margin ion-text-center">
            <ion-label>Nota de crédito</ion-label>
            <ion-radio color="danger" value="nota"></ion-radio>
            <ion-icon color="dark" slot="start" name="document"></ion-icon>
          </ion-item>
        </div>
      </ion-radio-group>
    </ion-list>
  </ion-row>

  <div class="divisor ion-no-margin ion-no-padding"></div>

  <ion-row>

    <ion-col class="ion-text-center" size="12">
      <ion-label>Artículos con diferencia</ion-label>
    </ion-col>
    
    <ion-col class="ion-text-center" size="4">
      <ion-label>Nombre</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" size="4">
      <ion-label>Diferencia</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" size="4">
      <ion-label>Monto</ion-label>
    </ion-col>


    <ion-col size="12" class="ion-text-center">

      <!-- <div class="concept-dif">
      </div> -->

      <ion-list>
        <ion-item *ngFor="let factura of facturasDiferencias" lines="none">
          <ion-label class="ion-text-capitalize ion-text-wrap left"
            >{{ factura.nombre | slice:0:5 }}</ion-label
          >
          <ion-label class="ion-text-center">
            <ion-badge color="danger">
              {{ factura.diferencias | currency }}
            </ion-badge>
          </ion-label>
          <ion-label class="ion-text-center right">
            <ion-badge color="danger">
              {{ factura.montoTotal | currency }}
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <div class="divisor ion-no-margin ion-no-padding"></div>

  <ion-row>
    <ion-col size="6">
      <ion-button color="primary" expand="block" fill="outline" (click)="aceptarFactura()"
      >Aceptar</ion-button
      >
    </ion-col>
    
    <ion-col size="6">
      <ion-button
      color="primary"
      expand="block"
      fill="outline"
      routerLink="/menu/facturas-pendientes"
      >Cancelar</ion-button
      >
    </ion-col>
  </ion-row>
</div>


<div *ngIf="facturaAprobada">


  <ion-row>

    <ion-col class="ion-text-center" size="12">
      <ion-label>Artículos para aprobar</ion-label>
    </ion-col>
    
    <ion-col class="ion-text-center" size="4">
      <ion-label>Nombre</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" size="4">
      <ion-label>Importe</ion-label>
    </ion-col>
    <ion-col class="ion-text-center" size="4">
      <ion-label>Cantidad</ion-label>
    </ion-col>


    <ion-col size="12" class="ion-text-center">

      <!-- <div class="concept-dif">
      </div> -->

      <ion-list>
        <ion-item *ngFor="let factura of facturasAprobadas" lines="none">
          <ion-label class="ion-text-capitalize ion-text-wrap left"
            >{{ factura.nombre | slice:0:5 }}</ion-label
          >
          <ion-label class="ion-text-center">
            <ion-badge color="success">
              {{ factura.cantidadTotal | currency }}
            </ion-badge>
          </ion-label>
          <ion-label class="ion-text-center right">
            <ion-badge color="success">
              {{ factura.cantidadSolicitada | currency }}
            </ion-badge>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <div class="divisor ion-no-margin ion-no-padding"></div>

  <ion-row>
    <ion-col size="6">
      <ion-button color="success" expand="block" fill="outline" (click)="facturaPasada()"
      >Aprobar</ion-button
      >
    </ion-col>
    
    <ion-col size="6">
      <ion-button
      color="danger"
      expand="block"
      fill="outline"
      routerLink="/menu/facturas-pendientes"
      >Cancelar</ion-button
      >
    </ion-col>
  </ion-row>
</div>

</ion-content>
