<ion-header>
  <ion-toolbar color="blue-light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center margin-right">{{ 'REPORTS.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed>
 
    <ion-row>
      <ion-col size="12">
        <ion-card>
            <canvas id="bar-chart" width="200" height="380"></canvas>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
